.header {
  padding: 0 1em;
  height: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: "Anonymous Pro", monospace;
    color: var(--primary-color);
  }

  a {
    color: var(--header-color);
    text-decoration: none;

    &.active {
      color: var(--primary-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}
