.header {
  background-color: var(--header-bg-color);

  a {
    color: var(--header-color);
    text-decoration: none;

    &.active {
      color: var(--primary-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}
