@import "../../../styles/colors.scss";

.resume-entry {
  padding: 12px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  .entry-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title,
    .subtitle {
      margin: 0;
      font-family: "Open Sans", sans-serif;
    }

    .title {
      font-weight: bold;
    }

    .subtitle {
      color: $blue;
      font-size: 1em;
    }

    .timespan {
      color: $dark-gray;
      background-color: $white;
      white-space: nowrap;
      font-size: 0.8em;
    }

    &.body {
      display: block;
      margin-top: 12px;
    }
  }
}
