@import "../../../styles/colors.scss";

.skill {
  margin-top: 4px;

  &:first-child {
    margin-top: 0;
  }

  .resume-tag {
    &::after {
      content: ", ";
      color: $black;
    }

    &:last-child::after {
      content: "";
    }
  }
}
