@import "../../styles/colors.scss";

.resume {
  section {
    display: block;

    section {
      display: block;
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid $light-gray;

      h3 {
        margin-top: 0;
      }
    }

    .skills {
      grid-area: skills;
    }

    .work-experience {
      grid-area: work;
    }

    .education {
      grid-area: education;
    }

    .achievements {
      grid-area: achievements;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

@media screen and (min-width: 768px), print {
  .resume {
    section {
      display: grid;
      grid-template-areas:
        "skills education"
        "work education"
        "work achievements";
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 3fr 2fr;
      column-gap: 32px;

      .work-experience {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
