$blue: #3f3fcf;

$gray: #bfc1c2;
$light-gray: lighten($gray, 10%);
$lighter-gray: lighten($gray, 20%);
$dark-gray: darken($gray, 10%);
$darker-gray: darken($gray, 20%);
$white: #ffffff;
$black: #000000;
