@import "./colors.scss";
@import "./print.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  margin: 0;
}

a {
  color: $blue;
}

button {
  display: inline-flex;
  min-width: 64px;
  padding: 4px 16px;
  border: 1px solid $blue;
  border-radius: 8px;
  color: $blue;
  background-color: transparent;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

hr {
  border-top: unset;
  border-right: unset;
  border-bottom: 1px solid #e7e7e7;
  border-left: unset;
  margin: 1.75em 0 1.25em;
}
